header#header {
    background: #08abe9;
}
.header-top {
    /* background: linear-gradient(90deg,#0052d4,#076cec); */
    background:#5b09fb;
    padding: 4px 0;
}
    .helpline span {
    font-size: 10px;
    color:white;
}
input#subject {
    width: 100%;
    padding: 4px 10px;
    border-radius: 4px;
    outline: none;
    border: navajowhite;
    font-size: 13px;
}
.search {
    margin-top: 3px;
    margin-bottom: -9px;
}
.header-social-links {
  margin-top: 5px;
    margin-bottom: -9px;
}
.helpline {
  margin-top: 2px;
    margin-bottom: -9px;
}
.helpline i {
    font-size: 13px;
    color: white;
}
.header-social-links i {
    color: white;
    font-size: 15px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .section-title h4 {
    background: #0968E8;
    color: white;
    font-size: 17px;
    font-family: 'Open Sans';
    padding: 5px;
}
.card-body {
    background: #E7E7E7;
}
input.form-control.messageform {
    background: #0968E8;
    margin-left: -15px;
    color: white;
}
.ambulanceservice p {
    color: white;
    font-size: 18px;
}
.form-group.sty {
    /* padding-top: 15px; */
}
.choche-ambunance {
    margin-top: -81px;
    background: #0656cb;
}

.choche-ambunance p {
    color: black;
        padding-top: 22px;
}
i.text-left {
    text-align: left;
    margin-left: -73px;
    color: black !important;
    font-weight: 700;
}
p.text-left a {
    color: #0b21b9;
    margin-left: 5px;
    text-decoration: none;
    font-weight: 600;
}
.card-body.styles {
    background: #0968E8;
    border: 1px solid #0968e8;
    border-radius: 5px;
}
section.service-contact {
    margin-top: -59px;
}
.supportdiv h3 {
    text-align: center;
    font-size: 22px;
    color: black;
    font-family: 'Open Sans';
    padding-top: 10px;
}

.supportdiv p {
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto';
    text-align: center;
}
section#clients {
    background: #0b0be9a1;
}
section#services {
    background: #15f3ca21;
}
.singlepost1 {
    background: #b78900;
    padding: 3px 0;
}
.singlepost2 {
    background: #9f09d1cf;
    padding: 3px 0;
}
.singlepost3 {
    background: #009fbf;
    padding: 3px 0;
}
.singlepost4 {
    background: #007bff8f;
    padding: 3px 0;
}
.singlepost5 {
    background: #00b91f;
    padding: 3px 0;
}
.singlepost6 {
    background: #d9a300;
    padding: 3px 0;
}
.singlepost7 {
    background: #08e5d1;
    padding: 3px 0;
}
.singlepost8 {
    background: #03aac5;
    padding: 3px 0;
}
.singlepost9 {
    background: #007bff8f;
    padding: 3px 0;
}
.singlepost10 {
    background: #0b0be9a1;
    padding: 3px 0;
}
.singlepost11 {
    background: #00af1d;
    padding: 3px 0;
}
.singlepost12 {
    background: #0dcaf0;
    padding: 3px 0;
}
.singlepost13 {
    background: #007bff8f;
    padding: 3px 0;
}
.singlepost14 {
    background: #007bff;
    padding: 3px 0;
}
section#services\ addcolor {
    background: #0656cb;
}
section#services {
    background: #089abb;
}
.services .icon-box {
  padding: 3px 0;
  background: #fff;
  margin: 5px;
}